.one-friend-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.one-friend-card {
  background-color: white;
  border: 1px solid #043915;
  border-radius: 20px;
  min-height: 100px;
  min-width: 300px;
  padding: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity, 1));
}

.one-friend-button-container button {
  height: 30px;
  background-color: white;
  /* border: 1px solid #043915; */
  border: none;
  border-radius: 8px;
}

.one-friend-button-container button:hover {
  cursor: pointer;
  background-color: #4c763b;
}

.one-friend-button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


/* Modal background overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal box */
.modal {
  background: #fff;
  padding: 20px 25px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h3 {
  margin: 0;
  font-size: 18px;
}

.close-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.modal input {
  width: 100%;
  padding: 8px;
  margin-top: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.save-btn {
  background: #2e7d32;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-btn {
  background: #d32f2f;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.save-btn:hover {
  background: #388e3c;
}

.cancel-btn:hover {
  background: #e53935;
}
